<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <body>
        <nav>
          <ul class="navmenu">
            <li>
              <a class="link1" href="home.html" id="currentpage"> Home</a>
            </li>
            <li>
              <a class="link1" href=#> Blog</a>
            </li>
            <li>
              <a class="link1" href=#> About</a>
            </li>
          </ul>
          <ul class="cta">
            <li class="btn">
              <a href="Html_files/signup.html" class="btn1"> Sign Up</a>
            </li>
            <li class="btn2">
              <a href="Html_files/login.html" class="btn2"> Log In</a>
            </li>
          </ul>
        </nav>
    <h1>Welcome to Daniels Blog </h1>
    <h1>Focusing on Django and the Pythonanwhere server</h1>
     
    {% for blog in blog_posts %}
        <p><a href="/blog/{{ blog.id}}/">{{ blog.title }}</a></p>
    {% endfor %}
</body>
</html>
